@{
    Layout = "Layouts/main.cshtml";
}

@section Title
{
 - Login
}

<form method="POST">
    Email <input type="email" name="Email" />
    <br />
    Password <input name="Password" type="password" />
    <br />
    Remember Me <input name="RememberMe" type="checkbox" value="True" />
    <br />
    <input type="submit" value="Login" />
</form>

<p>Not registered? Go ahead and <a href="@Url.Content("~/Register")">Register</a></p>
@if (Model.Errored) {
    <div id="errorBox" class="floatingError">Invalid Username or Password</div>
}
