<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDos</title>
</head>
<body>
    <form method="POST">
        New: <input type="text" name="Text" id="Text"/>
        <input type="submit" value="Add"/>
    </form>
    @foreach (var todo in Model.ToDos)
    {
        <p>@todo.Text [Added at @todo.Added.ToString("hh:mm") on @todo.Added.ToString("dd MMM yyyy")]</p>
    }
</body>
</html>
