<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDos @RenderSection("Title", false);</title>
    <link rel="stylesheet" href='@Url.Content("~/content/styles/Main.css")' type="text/css" media="screen"/>
</head>
<header>
    <h1>ToDo App @RenderSection("Title", false)</h1>
</header>
<body>
    @RenderBody()
</body>
<footer>
</footer>
</html>
